table {
  margin-bottom: 20px;
  page-break-inside: avoid !important;
  background-color: white;
  padding: 10px;
  border-collapse: collapse;
  width: 800px;
  height: 500px;
}

table.pagebreak {
  clear: both;
  page-break-before: always;
}

table thead {
  font-size: 50px;
}

table td {
  padding: 10px;
  text-align: center;
  width: 150px;
  height: 70px;
}
