table {
  margin: 20px auto;
  border-collapse: collapse;
}

table th {
  font-size: 22pt;
  height: 60px;
  border: 2pt solid black;
  width: 20%;
}

table td {
  font-size: 12pt;
  text-align: center;
  height: 60px;
  border: 2pt solid black;
  width: 20%;
}
